h3 a b {
    color: blue;
}

div.dataTables_paginate span {
    display: none;
}

.product-image-img {
    width: 120px;
}

#display_json_data_length {
    display: none;
}

#display_json_data_filter {
    margin-bottom: 2em;
    float: left;
}

table.fixedHeader-floating {
    position: relative !important;
    background-color: lightgray
}

table.fixedHeader-floating.no-footer {
    border-bottom-width: 0
}

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white
}




.dataTables_scrollHeadInner {

    margin-left: 0px;

    width: 100% !important;

    position: fixed;

    display: block;

    overflow: hidden;

    margin-right: 30px;

    background: white;

    z-index: 1000;

}

.dataTables_scrollBody {

    padding-top: 110px;

}